@media (max-width: 650px) {
    .four-pick-pic {
        display: none;
    }
    .four-pick-number {
        left: 0px;
        top: 0px;
    }
    .four-pick-name {
        width: 50px;
        left: 30px;
    }
    .two-pick-pic {
        display: none;
    }
    .two-pick-number {
        left: 20px;
        top: 0px;
    }
    .user-photo {
        width: 80px;
        height: 80px;
        left: 20px;
    }
    .user-displayName {
        display: none;
    }
    .entry-detail {
        height: 27%;
    }
    .entries-in-contest {
        top: 38%;
    }
    .glyphicon {
        left: 25%;
    }
}
